*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
ul{
    list-style: none;
}

$color1: rgb(0, 217, 255);
$color2: rgb(240, 240, 240);
$color3: rgb(43, 43, 43);

//header--------------------------------------------------
header{
    display: flex;
    height: 75px;
    box-shadow: 1px 1px 10px rgb(172, 172, 172);
    position:relative;
    z-index:2;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 20px;
}
.searched_display{
    height: 70px;
    max-width: 750px;
    width: auto;
    padding-left: 20px;
    font-size: 20px;
    line-height: 70px;
    .and{
        font-size: 16px;
        color: red;
    }
    .or{
        font-size: 16px;
        color: blue;
    }
}
.color_picker{
    height: 70px;
    z-index: 2;
    display: flex;
    overflow: hidden;
    margin-right: 5px;
    .color_accordion{
        width: 168px;
        right: 0;
        transition: 0.4s;
        .color_list{
            width: 168px;
            height: 75px;
            font-size: 0;
            .color_button{
                font-size: 20px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                appearance: none;
                background-color: #fff;
                width: 14px;
                height: 14px;
            }
        }
    }
    .open_accordion{
        width: 168px;
    }
    .ac_switch{
        width: 20px;
        height: 100%;
        padding: 0 0 0 5px;
        background-color: $color3;
        border-left: #000 solid 2px;
        color: #fff;
        font-size: 20px;
    }
    .open_switch{
        transform: rotate(180deg);
        border-left: none;
    }
    
    .color_display{
        width: 35px;
        min-width: 35px;
        height: 70px;
        background-color: $color3;
        .selected_color{
            width: calc(100% - 8px);
            height: calc(50% - 8px);
            background-color: rgb(255, 255, 255);
            margin: 4px;
        }
        .reset_button{
            width: calc(100% - 8px);
            height: calc(50% - 8px);
            background-color: #fff;
            margin: 4px;
            margin-top: 8px;
            button{
                margin: 2px;
                background-color: $color3;
                color: #fff;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                font-size: 20px;
            }
            &:hover{
                background-color: red;
                button{
                    color: red;
                }
            }
        }
    }
}
.search_form{
    .text_form{
        padding: 5px 10px;
        border:0;
        font-size:1.3em;
        font-family:Arial, sans-serif;
        color:$color3;
        border:solid 1px #ccc;
        width: 400px;
        height: 23px;
        &:checked{
            border:solid 1px $color1;
        }
    }
    .form_under{
        width: 422px;
        display: flex;
        justify-content: space-between;
        .week_select{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px 0 0;
            width: 272px;
            height: 35px;
            .weeks{
                background-color: #fff;
                border-radius: 50px;
                font-size: 15px;
                border: solid 1px rgb(201, 201, 201);
                width: 25px;
                height: 25px;
                &:hover{
                    border: solid 1px rgb(0, 217, 255);
                }
            }
            .all_week{
                width: 50px;
            }
            .select_week{
                border: solid 1px rgb(0, 217, 255);
                box-shadow: 1px 1px 10px rgb(0, 217, 255);
            }
        }
        .time_select{
            width: 140px;
            height: 35px;
            display: flex;
            align-items: center;
            p{
                font-size: 14px;
                select{
                    outline:none;
                    text-indent: 0.01px;
                    text-overflow: '';
                    background: none transparent;
                    vertical-align: middle;
                    font-size: inherit;
                    color: inherit;
                }
            }
            
        }
    }
    
    
}



.main{
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    .histry_ul{
        width: 900px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #fff;
        box-shadow: 1px 1px 5px rgb(172, 172, 172);
    }
    .browsing_day{
        border-top: #000 solid 1px;
        border-bottom: #000 solid 1px;
        font-size: 20px;
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
        background-color: $color3;
        color: #fff
    }
    .histrylink{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        .imgarea{
            margin: 10px;
            width: calc(192px * 0.7);
            height: calc(120px * 0.7);
            display: flex;
            align-items: center;
            background-color: $color2;
            img{
                width: 100%;
            }
        }
        .sitedate{
            margin: 10px;
            width: auto;
            max-width: calc(100% - 296px);
            .title{
                font-size: 20px;
            }
            .url{
                font-size: 12px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-decoration: underline;
            }
            .time{
                font-size: 18px;
            }
        }
        .link{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            .link_action{
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                button{
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.6);
                    font-size: 20px;
                    &:hover{
                        color: red;
                    }
                }
            }
            &:hover{
                opacity: 1;
            }
        }
        &:hover{
            background-color: $color2;
        }
    }

    nav{
        width: 190px;
        height: 400px;
        overflow: scroll;
        margin-left: 15px;
        margin-top: 15px;
        background-color: #fff;
        box-shadow: 1px 1px 5px rgb(172, 172, 172);
        .history_nav{
            li{
                position: relative;
                margin: 10px 5px 10px 5px;
                font-size: 16px;
                text-align: center;
                width: 180px;
                height: 30px;
                line-height: 30px;
                border-radius: 50px;
                cursor: pointer;
                transition: 0.2s;
                a{
                    color: #000;
                    text-decoration: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    background-color: $color3;
                    a{
                        color: #fff;
                    }
                    
                }
            }
            .now_scroll{
                background-color: $color3;
                a{
                    color: #fff;
                }
            }
        }
    }
}


.view_area{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.5);
    button{
        background-color: $color3;
        color: #fff;
        height: 50px;
        width: 50px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .view_ul{
        width: 900px;
        height: 100%;
        overflow: scroll;
        background-color: #fff;
        box-shadow: 1px 1px 5px rgb(172, 172, 172);
    }
    .browsing_day{
        border-top: #000 solid 1px;
        border-bottom: #000 solid 1px;
        font-size: 20px;
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
        background-color: $color3;
        color: #fff
    }
    .histrylink{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        .imgarea{
            margin: 10px;
            width: 192px;
            height: 120px; 
            display: flex;
            align-items: center;
            background-color: $color2;
            img{
                width: 100%;
            }
        }
        .sitedate{
            margin: 10px;
            width: auto;
            max-width: calc(100% - 296px);
            .title{
                font-size: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-decoration: underline;
            }
            .url{
                font-size: 12px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-decoration: underline;
            }
            .time{
                font-size: 18px;
            }
        }
        .link{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            .link_action{
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                button{
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.6);
                    font-size: 20px;
                    &:hover{
                        color: red;
                    }
                }
            }
            &:hover{
                opacity: 1;
            }
        }
        &:hover{
            background-color: $color2;
        }
    }
    #now_view{
        background-color: rgb(184, 241, 255);
    }
}
.invisible{
    display: none;
}