* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

ul {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-shadow: 1px 1px 10px #acacac;
          box-shadow: 1px 1px 10px #acacac;
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding-top: 5px;
  padding-left: 20px;
}

.searched_display {
  height: 70px;
  max-width: 620px;
  width: 620px;
  font-size: 20px;
  line-height: 70px;
}

.searched_display .and {
  font-size: 16px;
  color: red;
}

.searched_display .or {
  font-size: 16px;
  color: blue;
}

.color_picker {
  height: 70px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: 5px;
}

.color_picker .color_accordion {
  width: 0;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.color_picker .color_accordion .color_list {
  width: 168px;
  height: 75px;
  font-size: 0;
}

.color_picker .color_accordion .color_list .color_button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  width: 14px;
  height: 14px;
}

.color_picker .open_accordion {
  width: 168px;
}

.color_picker .ac_switch {
  width: 20px;
  height: 100%;
  padding: 0 0 0 5px;
  background-color: #2b2b2b;
  border-left: #000 solid 2px;
  color: #fff;
  font-size: 20px;
}

.color_picker .open_switch {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-left: none;
}

.color_picker .color_display {
  width: 35px;
  min-width: 35px;
  height: 70px;
  background-color: #2b2b2b;
}

.color_picker .color_display .selected_color {
  width: calc(100% - 8px);
  height: calc(50% - 8px);
  background-color: white;
  margin: 4px;
}

.color_picker .color_display .reset_button {
  width: calc(100% - 8px);
  height: calc(50% - 8px);
  background-color: #fff;
  margin: 4px;
  margin-top: 8px;
}

.color_picker .color_display .reset_button button {
  margin: 2px;
  background-color: #2b2b2b;
  color: #fff;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  font-size: 20px;
}

.color_picker .color_display .reset_button:hover {
  background-color: red;
}

.color_picker .color_display .reset_button:hover button {
  color: red;
}

.search_form .text_form {
  padding: 5px 10px;
  border: 0;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  color: #2b2b2b;
  border: solid 1px #ccc;
  width: 400px;
  height: 23px;
}

.search_form .text_form:checked {
  border: solid 1px #00d9ff;
}

.search_form .form_under {
  width: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search_form .form_under .week_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 0;
  width: 272px;
  height: 35px;
}

.search_form .form_under .week_select .weeks {
  background-color: #fff;
  border-radius: 50px;
  font-size: 15px;
  border: solid 1px #c9c9c9;
  width: 25px;
  height: 25px;
}

.search_form .form_under .week_select .weeks:hover {
  border: solid 1px #00d9ff;
}

.search_form .form_under .week_select .all_week {
  width: 50px;
}

.search_form .form_under .week_select .select_week {
  border: solid 1px #00d9ff;
  -webkit-box-shadow: 1px 1px 10px #00d9ff;
          box-shadow: 1px 1px 10px #00d9ff;
}

.search_form .form_under .time_select {
  width: 140px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_form .form_under .time_select p {
  font-size: 14px;
}

.search_form .form_under .time_select p select {
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
}

.main {
  width: 100%;
  height: calc(100% - 80px);
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .histry_ul {
  width: 900px;
  height: 100%;
  overflow: scroll;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px #acacac;
          box-shadow: 1px 1px 5px #acacac;
}

.main .browsing_day {
  border-top: #000 solid 1px;
  border-bottom: #000 solid 1px;
  font-size: 20px;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #2b2b2b;
  color: #fff;
}

.main .histrylink {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .histrylink .imgarea {
  margin: 10px;
  width: 256px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
}

.main .histrylink .imgarea img {
  width: 100%;
}

.main .histrylink .sitedate {
  margin: 10px;
  width: auto;
  max-width: calc(100% - 296px);
}

.main .histrylink .sitedate .title {
  font-size: 20px;
}

.main .histrylink .sitedate .url {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.main .histrylink .sitedate .time {
  font-size: 18px;
}

.main .histrylink .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.main .histrylink .link .link_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.main .histrylink .link .link_action button {
  width: 30px;
  height: 30px;
  margin: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

.main .histrylink .link .link_action button:hover {
  color: red;
}

.main .histrylink .link:hover {
  opacity: 1;
}

.main .histrylink:hover {
  background-color: #f0f0f0;
}

.main nav {
  width: 200px;
  height: 400px;
  overflow: scroll;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px #acacac;
          box-shadow: 1px 1px 5px #acacac;
}

.main nav .history_nav li {
  position: relative;
  margin: 10px 5px 10px 5px;
  font-size: 18px;
  text-align: center;
  width: 190px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main nav .history_nav li a {
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main nav .history_nav li:hover {
  background-color: #2b2b2b;
}

.main nav .history_nav li:hover a {
  color: #fff;
}

.main nav .history_nav .now_scroll {
  background-color: #2b2b2b;
}

.main nav .history_nav .now_scroll a {
  color: #fff;
}

.view_area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
}

.view_area button {
  background-color: #2b2b2b;
  color: #fff;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.view_area .view_ul {
  width: 900px;
  height: 100%;
  overflow: scroll;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px #acacac;
          box-shadow: 1px 1px 5px #acacac;
}

.view_area .browsing_day {
  border-top: #000 solid 1px;
  border-bottom: #000 solid 1px;
  font-size: 20px;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #2b2b2b;
  color: #fff;
}

.view_area .histrylink {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.view_area .histrylink .imgarea {
  margin: 10px;
  width: 256px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
}

.view_area .histrylink .imgarea img {
  width: 100%;
}

.view_area .histrylink .sitedate {
  margin: 10px;
  width: auto;
  max-width: calc(100% - 296px);
}

.view_area .histrylink .sitedate .title {
  font-size: 20px;
}

.view_area .histrylink .sitedate .url {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.view_area .histrylink .sitedate .time {
  font-size: 18px;
}

.view_area .histrylink .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.view_area .histrylink .link .link_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.view_area .histrylink .link .link_action button {
  width: 30px;
  height: 30px;
  margin: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

.view_area .histrylink .link .link_action button:hover {
  color: red;
}

.view_area .histrylink .link:hover {
  opacity: 1;
}

.view_area .histrylink:hover {
  background-color: #f0f0f0;
}

.view_area #now_view {
  background-color: #b8f1ff;
}

.invisible {
  display: none;
}
/*# sourceMappingURL=demo.css.map */